# ----------------------------------------------------------------
# Arquivos gerados pelo Python
# ----------------------------------------------------------------
# Arquivos de Cache e Compilados
__pycache__/
*.py[cod]
*$py.class

# ----------------------------------------------------------------
# Ambientes Virtuais
# ----------------------------------------------------------------
# Ignora a pasta do nosso ambiente virtual na raiz do projeto
/venvcatbot/

# ----------------------------------------------------------------
# Arquivos de Configuração e Chaves Sensíveis
# ----------------------------------------------------------------
# Ignora o arquivo .env principal e quaisquer variações (ex: .env.local)
.env
.env.*
*.env

# ----------------------------------------------------------------
# Dependências e Pacotes
# ----------------------------------------------------------------
# Embora a gente versiona o requirements.txt, ignora outras pastas de pacotes
dist/
build/
eggs/
*.egg-info/
wheels/

# ----------------------------------------------------------------
# Configurações de IDEs e Editores
# ----------------------------------------------------------------
# VSCode, PyCharm, etc.
.vscode/
.idea/
.spyderproject/
.spyproject/

# ----------------------------------------------------------------
# Arquivos de Sistema Operacional
# ----------------------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------------------
# Logs e Relatórios de Testes
# ----------------------------------------------------------------
*.log
.pytest_cache/
.coverage