/* Remove margens e define a fonte base para a aplicação inteira */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

/* Define o layout principal da aplicação */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Área de conteúdo principal que ficará abaixo da barra de navegação */
.content {
  flex-grow: 1; /* Faz com que esta área ocupe todo o espaço vertical restante */
  overflow-y: auto; /* Adiciona uma barra de rolagem se o conteúdo for muito grande */
}